# Node.js
# Build a general Node.js application with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/vsts/pipelines/languages/javascript
jobs:
- job: Linux

  pool:
    vmImage: 'Ubuntu 16.04'

  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '8.x'
    displayName: 'Install Node.js'

  - script: npm install
    displayName: 'Install dependencies'

  - script: npm test
    displayName: 'Run tests'

  - task: PublishTestResults@2
    displayName: 'Save test results'
    condition: succeededOrFailed()
    inputs:
      testResultsFormat: JUnit
      testResultsFiles: '$(System.DefaultWorkingDirectory)/junit/*.xml'

  - task: PublishCodeCoverageResults@1
    displayName: 'Save code coverage'
    condition: succeededOrFailed()
    inputs:
      codeCoverageTool: Cobertura
      summaryFileLocation: '$(System.DefaultWorkingDirectory)/coverage/cobertura-coverage.xml'
      reportDirectory: '$(System.DefaultWorkingDirectory)/coverage/lcov-report'

  - script: npm pack
    displayName: 'Prepare installable tarball'
    condition: succeededOrFailed()

  - task: PublishBuildArtifacts@1
    displayName: 'Save npm-tarball.tgz'
    condition: succeededOrFailed()
    inputs:
      artifactName: 'npm-tarball.tgz'
      PathtoPublish: '$(System.DefaultWorkingDirectory)/isomorphic-git-openpgp-plugin-0.0.0-development.tgz'

  - script: npm run semantic-release
    displayName: 'Publish to npm'
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
    env:
      GH_TOKEN: $(Gh.Token)
      NPM_TOKEN: $(Npm.Token)
      TWITTER_ACCESS_TOKEN_SECRET: $(TWITTER_ACCESS_TOKEN_SECRET)
      TWITTER_CONSUMER_SECRET: $(TWITTER_CONSUMER_SECRET)
